body{
    margin: 0px;
    padding: 0px;
}
.first{
    height: 100px;
    width: 10%;
    float: left;
    background-color: black;
}
.sec{
    height: 100px;
    width: 10%;
    float: left;
    background-color: white;
}
.first{
    float: left;
    background-color: black;
}
.sec{
    height: 100px;
    width: 10px;
    float:left;
    background-color: white;
}